footer {
	width: 100%;
	padding: 21px 0;
	background-color: #181818;
	@include user-select(none);
	@include breakpoint(medium) {
		padding: 22px 0;
	}
	@include breakpoint(extra-medium) {
		padding: 23px 0;
	}
	a {
		float: left;
		img {
			@include breakpoint(extra-medium) {
				width: 300px;
			}
		}
	}
}