form {
	width: 895px;
	@include user-select(none);
	@include breakpoint(medium) {
		width: 786px;
	}
	input {
		margin-right: 20px;
		padding-left: 20px;
		&:nth-child(2) {
			margin-right: 22px;
		}
	}
}