form {
	width: 895px;
	margin: 102px auto 0;
	@include user-select(none);
	@include breakpoint(medium) {
		width: 771px;
		margin: 87px auto 0;
	}
	@include breakpoint(extra-medium) {
		width: 632px;
		margin: 72px auto 0;
	}
	@include breakpoint(extra-small) {
		width: 100%;
		margin: 75px auto 0;
	}
	input {
		margin-right: 20px;
		padding-left: 20px;
		@include breakpoint(medium) {
			margin-right: 16px;
		}
		@include breakpoint(extra-medium) {
			margin-right: 11px;
		}
		&:nth-child(2) {
			margin-right: 22px;
			@include breakpoint(medium) {
			margin-right: 15px;
		}
			@include breakpoint(extra-medium) {
				margin-right: 15px;
			}
		}
	}
}