header {
	position: absolute;
	z-index: 1;
	width: 100%;
	@include user-select(none);
	.nav-style {
		height: 59px;
		margin-top: 34px;
		@include breakpoint(extra-medium) {
			height: 51px;
		}
		img {
			@include breakpoint(extra-medium) {
				width: 300px;
			}
		}
	}
}