.description-speakers {
	display: inline-block;
	vertical-align: top;
	&:first-child {
		width: 527px;
		margin-right: 76px;
		padding-left: 25px;
		@include breakpoint(medium) {
			float: none;
			width: 451px;
			margin-right: 35px;
			padding-left: 0;
		}
		@include breakpoint(extra-medium) {
			float: none;
			width: 354px;
			margin-right: 32px;
			padding-left: 0;
		}
	}
	&:last-child {
		width: 548px;
		@include breakpoint(medium) {
			float: none;
			width: 453px;
		}
		@include breakpoint(extra-medium) {
			float: none;
			width: 358px;
		}
	}
	figure {
		height: 100%;
		@include clearfix;
		img {
			float: left;
			@include user-select(none);
			@include breakpoint(medium) {
				width: 141px;
			}
			@include breakpoint(extra-medium) {
				width: 125px;
			}
		}
		figcaption {
			float: left;
			padding-left: 25px;
			@include breakpoint(extra-medium) {
				padding-left: 20px;
			}
			hr {
				width: 317px;
				height: 1px;
				margin: 0;
				background-color: #ffffff;
				@include breakpoint(medium) {
					width: 285px;
				}
				@include breakpoint(extra-medium) {
					width: 209px;
				}
			}
			p {
				margin-top: 8px;
				margin-bottom: 17px;
				font-family: 'Clearsans Thin';
				font-size: 47px;
				line-height: 58px;
				text-align: left;
				color: #ffffff;
				@include breakpoint(medium) {
					margin-top: 6px;
					margin-bottom: 15px;
					font-size: 42px;
					line-height: 52px;
				}
				@include breakpoint(extra-medium) {
					margin-top: 7px;
					margin-bottom: 15px;
					font-size: 35px;
					line-height: 44px;
				}
				b {
					font-weight:bold;
				}
			}
		}
	}
	ul {
		margin-top: 23px;
		padding-left: 26px;
		@include breakpoint(medium) {
			margin-top: 27px;
		}
		@include breakpoint(extra-medium) {
			margin-top: 7px;
		}
		li {
			position: relative;
			margin-bottom: 18px;
			font-family: 'Clearsans Light';
			font-size: 18px;
			line-height: 24px;
			list-style-type: none;
			@include breakpoint(medium) {
				margin-bottom: 20px;
				line-height: 23px;
			}
			@include breakpoint(extra-medium) {
				margin-bottom: 21px;
				line-height: 22px;
			}
			&:before {
				position: absolute;
				top: 8px;
				left: -23px;
				display: inline-block;
				width: 10px;
				height: 10px;
				background-color: #eebd11;
				border:1px solid #ffffff;
				content: "";
				@include transform (rotate(45deg));
			}
		}
	}
}