button {
	display: inline-block;
	width: 185px;
	background-color: #fb5240;
	border:none;
	font-family: 'Clearsans Regular';
	font-size: 16px;
	line-height: 52px;
	text-transform: uppercase;
	vertical-align: top;
	color: #ffffff;
	@include border-radius(2px);
	@include transition-property(background-color);
	@include transition-duration(400ms);
	@include user-select(none);
	@include breakpoint(medium) {
		width: 157px;
		font-size: 14px;
		line-height: 44px;
	}
	@include breakpoint(extra-medium) {
		width: 130px;
		font-size: 11px;
		line-height: 36px;
	}
	@include breakpoint(extra-small) {
		width: 100%;
		font-size: 19px;
	}
	&:hover {
		background-color: #d5493a;
	}
	&:active {
		background-color: #da5e51;
		outline: none;
	}
}