.about-webinar {
	padding-top: 128px;
    padding-bottom: 81px;
	background-image: url(../../../client/images/about-webinar/about-webinar-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    @include breakpoint(medium) {
        padding-bottom: 89px;
    }
    @include breakpoint(extra-medium) {
        padding-bottom: 63px;
    }
    .size-container {
        p {
            font-family: 'Clearsans Light';
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #ffffff;
            @include breakpoint(medium) {
                margin-top: 16px;
                font-size: 17px;
                line-height: 20px;
            }
            @include breakpoint(extra-medium) {
                margin-top: 18px;
                font-size: 17px;
                line-height: 21px;
            }
            @include breakpoint(extra-small) {
                margin-top: 30px;
                font-size: 20px;
                line-height: 26px;
            }
        }
        h1 {
            margin-top: 24px;
            font-family: 'Clearsans Bold';
            font-size: 54px;
            line-height: 75px;
            text-transform: uppercase;
            color: #f4bf1d;
            @include breakpoint(medium) {
                margin-top: 20px;
                font-size: 46px;
                line-height: 64px;
            }
            @include breakpoint(extra-medium) {
                margin-top: 22px;
                font-size: 38px;
                line-height: 55px;
            }
            @include breakpoint(extra-small) {
                margin-top: 45px;
                font-size: 36px;
                line-height: 50px;
            }
            span {
                font-size: 64px;
                @include breakpoint(medium) {
                    font-size: 55px;
                }
                @include breakpoint(extra-medium) {
                    font-size: 45px;
                }
                @include breakpoint(extra-small) {
                    font-size: 43px;
                }
            }
        }
        ul {
            width: 418px;
            margin: 31px auto;
            padding: 0;
            font-size: 0;
            @include breakpoint(medium) {
                margin: 27px auto;
            }
            @include breakpoint(extra-medium) {
                width: 295px;
                margin: 22px auto;
            }
            @include breakpoint(extra-small) {
                width: 433px;
                margin: 37px auto;
            }
            li {
                display: inline-block;
                width: 170px;
                height: 119px;
                background-color: rgba(#000000,0.2);
                border:1px solid #ffffff;
                font-family: 'Clearsans Regular';
                font-size: 18px;
                line-height: 39px;
                text-align: center;
                color: #ffffff;
                @include breakpoint(medium) {
                    width: 145px;
                    height: 102px;
                    font-size: 15px;
                    line-height: 33px;
                }
                @include breakpoint(extra-medium) {
                    width: 120px;
                    height: 84px;
                    font-size: 13px;
                    line-height: 27px;
                }
                @include breakpoint(extra-small) {
                    width: 184px;
                    height: 130px;
                    line-height: 43px;
                }
                &:first-child {
                    margin-right: 78px;
                    @include breakpoint(medium) {
                        margin-right: 66px;
                    }
                    @include breakpoint(extra-medium) {
                        margin-right: 55px;
                    }
                    @include breakpoint(extra-small) {
                        margin-right: 65px;
                    }
                }
                time {
                    display: block;
                    font-size: 48px;
                    color: #f4bf1d;
                    @include breakpoint(medium) {
                        font-size: 42px;
                        line-height: 32px;
                    }
                    @include breakpoint(extra-medium) {
                        font-size: 37px;
                    }
                    @include breakpoint(extra-small) {
                        font-size: 51px;
                    }
                }
            }
        }
        form {
            input {
                @include breakpoint(extra-small) {
                    display: none;
                }
            }
        }
        h3 {
            font-family: 'Clearsans Thin';
            font-size: 36px;
            text-transform: uppercase;
        }
        .webinar-give {
            font-family: 'Clearsans Thin';
            @include clearfix;
            h3 {
                margin-top: 102px;
                margin-bottom: 73px;
                color: #ffffff;
                @include breakpoint(medium) {
                    margin-top: 96px;
                    font-size: 28px;
                }
                @include breakpoint(extra-medium) {
                    margin-top: 80px;
                    margin-bottom: 34px;
                    font-size: 23px;
                }
                @include breakpoint(extra-small) {
                    margin-top: 51px;
                    font-size: 40px;
                }
            }
            .info {
                p {
                    display: inline-block;
                    margin-top: 29px;
                    font-size: 24px;
                    line-height: 28px;
                    @include breakpoint(medium) {
                        margin-top: 7px;
                        font-size: 18px;
                        line-height: 23px;
                    }
                    @include breakpoint(extra-medium) {
                        margin-top: 33px;
                        font-size: 14px;
                        line-height: 19px;
                    }
                }
                span {
                    position: relative;
                    display: inline-block;
                    width: 91px;
                    height: 1px;
                    background-color: #f0bb1d;
                    @include breakpoint(medium) {
                        width: 70px;
                    }
                    @include breakpoint(extra-medium) {
                        width: 58px;
                    }
                    &:before, &:after {
                        position: absolute;
                        top: -4px;
                        width: 9px;
                        height: 9px;
                        border:1px solid #f0bb1d;
                        content: "";
                        @include border-radius(50%);
                        @include breakpoint(medium) {
                            top: -3px;
                            width: 7px;
                            height: 7px;
                        }
                        @include breakpoint(extra-medium) {
                            top: -3px;
                            width: 6px;
                            height: 6px;
                        }
                    }
                    &:before {
                        left: -8px;
                        @include breakpoint(extra-medium) {
                            left: -6px;
                        }
                    }
                    &:after {
                        right: -8px;
                        @include breakpoint(extra-medium) {
                            right: -6px;
                        }
                    }
                }
                &.text-give {
                    float: left;
                    @include clearfix;
                    p {
                        float: left;
                        width: 344px;
                        padding-left: 51px;
                        @include breakpoint(medium) {
                            width: 255px;
                            padding-left: 69px;
                        }
                        @include breakpoint(extra-medium) {
                            width: 193px;
                            padding-left: 29px;
                        }
                    }
                    span {
                        top: 74px;
                        right: 7px;
                        float: right;
                        @include breakpoint(medium) {
                            top: 44px;
                            right: -35px;
                        }
                        @include breakpoint(extra-medium) {
                            top: 63px;
                            right: -38px;
                        }
                    }
                }
                &.text-study {
                    float: right;
                    width: 390px;
                    @include clearfix;
                    @include breakpoint(extra-medium) {
                        width: 210px;
                    }
                    p {
                        float: right;
                        width: 308px;
                        margin-top: 14px;
                        @include breakpoint(medium) {
                            width: 284px;
                            margin-top: -4px;
                        }
                        @include breakpoint(extra-medium) {
                            width: 210px;
                            margin-top: 24px;
                        }
                    }
                    span {
                        top: -76px;
                        right: 33px;
                        float: left;
                        @include breakpoint(medium) {
                            top: 44px;
                            right: -11px;
                        }
                        @include breakpoint(extra-medium) {
                            top: -51px;
                            right: 82px;
                        }
                    }
                }
                &.text-create {
                    p {
                        width: 100%;
                        margin-top: 135px;
                        @include breakpoint(medium) {
                            margin-top: 93px;
                        }
                        @include breakpoint(extra-medium) {
                            margin-top: 103px;
                        }
                    }
                    span {
                        top: -136px;
                        right: -7px;
                        @include transform (rotate(90deg));
                        @include breakpoint(medium) {
                            top: -109px;
                            right: 9px;
                        }
                        @include breakpoint(extra-medium) {
                            top: -92px;
                            right: 1px;
                        }
                    }
                }
            }
            img {
                position: relative;
                left: -18px;
                width: 226px;
                @include user-select(none);
                @include breakpoint(medium) {
                    top: -14px;
                    left: 24px;
                    display: inline-block;
                    width: 178px;
                }
                @include breakpoint(extra-medium) {
                    top: -2px;
                    left: -185px;
                    display: inline-block;
                    width: 148px;
                }
                @include breakpoint(extra-small) {
                    top: -184px;
                    left: -2px;
                    display: inline-block;
                    width: 330px;
                }
            }
        }
        .webinar-give-addition {
            font-size: 0;
            margin-bottom: 22px;
            @include breakpoint(medium) {
                margin-bottom: 50px;
            }
            @include breakpoint(extra-medium) {
                margin-bottom: 39px;
            }
            h3 {
                margin-top: 35px;
                color: #f0bb1d;
                @include breakpoint(medium) {
                    margin-top: 80px;
                    font-size: 29px;
                }
                @include breakpoint(extra-medium) {
                    margin-top: 36px;
                    font-size: 24px;
                }
            }
            .info-addition {
                width: 1019px;
                margin: 71px auto 0;
                @include breakpoint(medium) {
                    width: 860px;
                    margin: 61px auto 0;
                }
                @include breakpoint(extra-medium) {
                    width: 709px;
                    margin: 48px auto 0;
                }
                figure {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    &:before {
                            position: absolute;
                            top: 61px;
                            display: inline-block;
                            width: 157px;
                            height: 1px;
                            background-color: #f0bb1d;
                            content: "";
                            @include breakpoint(medium) {
                                top: 52px;
                                width: 131px;
                            }
                            @include breakpoint(extra-medium) {
                                top: 43px;
                                width: 109px;
                            }
                       }
                    &:first-child {
                        width: 259px;
                        margin-right: 128px;
                        @include breakpoint(medium) {
                            width: 248px;
                            margin-right: 64px;
                        }
                        @include breakpoint(extra-medium) {
                            width: 177px;
                            margin-right: 89px;
                        }
                        &:before {
                            right: -140px;
                            @include breakpoint(medium) {
                                right: -97px;
                            }
                            @include breakpoint(extra-medium) {
                                right: -100px;
                            }
                        }
                    }
                    &:nth-child(2) {
                        width: 250px;
                        @include breakpoint(extra-medium) {
                            width: 179px;
                        }
                        &:before {
                            right: -143px;
                            @include breakpoint(medium) {
                                right: -96px;
                            }
                            @include breakpoint(extra-medium) {
                                right: -97px;
                            }
                        }
                    }
                    &:last-child {
                        width: 254px;
                        margin-left: 128px;
                        @include breakpoint(medium) {
                            width: 224px;
                            margin-left: 74px;
                        }
                        @include breakpoint(extra-medium) {
                            width: 172px;
                            margin-left: 91px;
                        }
                        &:before {
                            display: none;
                        }
                    }
                    span {
                        position: relative;
                        display: inline-block;
                        width: 123px;
                        height: 123px;
                        @include breakpoint(medium) {
                            width: 104px;
                            height: 104px;
                        }
                        @include breakpoint(extra-medium) {
                            width: 87px;
                            height: 87px;
                        }
                       &:before {
                            position: absolute;
                            top: 0;
                            right: 0;
                            display: inline-block;
                            width: 123px;
                            height: 123px;
                            border: 1px solid #f0bb1d;
                            content: "";
                            @include border-radius (5px);
                            @include transform (rotate(45deg));
                            @include breakpoint(medium) {
                                width: 104px;
                                height: 104px;
                            }
                            @include breakpoint(extra-medium) {
                                width: 87px;
                                height: 87px;
                            }
                       }
                       &:after {
                        position: absolute;
                        top: 27px;
                        left: 30px;
                        display: inline-block;
                        background-size: cover;
                        content: "";
                        @include breakpoint(medium) {
                            background-size: cover;
                        }
                       }
                       &.image-hand {
                            &:after {
                                top: 30px;
                                left: 28px;
                                width: 63px;
                                height: 63px;
                                background-image: url(../../../client/images/info/hand.png);
                                @include breakpoint(medium) {
                                    top: 27px;
                                    left: 26px;
                                    width: 50px;
                                    height: 50px;
                                }
                                @include breakpoint(extra-medium) {
                                    top: 21px;
                                    left: 24px;
                                    width: 45px;
                                    height: 45px;
                                }
                            }
                        }
                        &.image-bag {
                            &:after {
                                width: 60px;
                                height: 72px;
                                background-image: url(../../../client/images/info/bag.png);
                                @include breakpoint(medium) {
                                    top: 24px;
                                    left: 28px;
                                    width: 51px;
                                    height: 61px;
                                }
                                @include breakpoint(extra-medium) {
                                    top: 19px;
                                    left: 22px;
                                    width: 41px;
                                    height: 49px;
                                }
                            }
                        }
                        &.image-man {
                            &:after {
                                width: 72px;
                                height: 71px;
                                background-image: url(../../../client/images/info/man.png);
                                @include breakpoint(medium) {
                                    top: 22px;
                                    left: 23px;
                                    width: 63px;
                                    height: 63px;
                                }
                                @include breakpoint(extra-medium) {
                                    top: 19px;
                                    left: 20px;
                                    width: 49px;
                                    height: 49px;
                                }
                            }
                        }
                    }
                    p {
                        margin-top: 41px;
                        @include breakpoint(medium) {
                            margin-top: 35px;
                        }
                        @include breakpoint(extra-medium) {
                            margin-top: 28px;
                            font-size: 13px;
                            line-height: 17px;
                        }
                    }
                }
            }
        }
    }
}