.gift-access {
	padding-top: 82px;
	padding-bottom: 73px;
	@include clearfix;
	@include breakpoint(medium) {
		padding-top: 52px;
		padding-bottom: 49px;
	}
	@include breakpoint(extra-medium) {
		padding-top: 50px;
		padding-bottom: 55px;
	}
	@include breakpoint(extra-small) {
		padding-top: 43px;
		padding-bottom: 45px;
	}
	.gift-access-container {
		width: 928px;
		margin: auto;
		@include clearfix;
		@include breakpoint(medium) {
			width: 813px;
		}
		@include breakpoint(extra-medium) {
			width: 770px;
		}
		@include breakpoint(extra-small) {
			width: 100%;
		}
		h4 {
			position: relative;
			float: left;
			margin-top: 50px;
			font-family: "Clearsans Thin";
			font-size: 36px;
			text-transform: uppercase;
			@include breakpoint(medium) {
				margin-top: 46px;
				font-family: "Clearsans Light";
				font-size: 29px;
			}
			@include breakpoint(extra-medium) {
				margin-top: 50px;
				font-family: "Clearsans Regular";
				font-size: 29px;
			}
			@include breakpoint(extra-small) {
				float: none;
				margin-top: 0;
				margin-bottom: 16px;
				font-size: 35px;
				text-align: center;
			}
			&::after {
				position: absolute;
				top: 63px;
				left: 0;
				display: inline-block;
				width: 436px;
				height: 1px;
				background-color: #f4bf1d;
				content: "";
				@include breakpoint(medium) {
					top: 52px;
					width: 380px;
				}
				@include breakpoint(extra-medium) {
					top: 52px;
					width: 342px;
				}
				@include breakpoint(extra-small) {
					display: none;
				}
			}
		}
		img {
			float: right;
			@include user-select(none);
			@include breakpoint(medium) {
				width: 331px;
			}
			@include breakpoint(extra-medium) {
				width: 334px;
			}
			@include breakpoint(extra-small) {
				float: none;
				width: 468px;
			}
		}
		p {
			float: left;
			width: 502px;
			margin-top: -1px;
			font-family: "Clearsans Light";
			font-size: 20px;
			line-height: 23px;
			@include breakpoint(medium) {
				width: 482px;
				margin-top: 3px;
				font-size: 17px;
				line-height: 21px;
			}
			@include breakpoint(extra-medium) {
				width: 400px;
				margin-top: -9px;
				font-size: 17px;
				line-height: 21px;
			}
			@include breakpoint(extra-small) {
				float: none;
				width:100%;
				margin-top: 33px;
				font-size: 23px;
				line-height: 27px;
				text-align: center;
			}
		}
	}
}