.registration {
	padding-top: 28px;
	padding-bottom: 103px;
	background-image: url(../../../client/images/registration/registration-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include breakpoint(medium) {
        padding-bottom: 98px;
    }
    @include breakpoint(extra-medium) {
        padding-bottom: 76px;
    }
    @include breakpoint(extra-small) {
        padding-bottom: 110px;
    }
     p {
        margin-top: 27px;
     	font-family: 'Clearsans Thin';
     	font-size: 24px;
     	line-height: 30px;
     	color: #ffffff;
        @include breakpoint(medium) {
            margin-top: 29px;
            font-size: 21px;
            line-height: 25px;
        }
        @include breakpoint(extra-medium) {
            margin-top: 28px;
            font-size: 17px;
            line-height: 21px;
        }
        @include breakpoint(extra-small) {
            font-family: 'Clearsans Medium';
            font-size: 24px;
            line-height: 29px;
            text-align: center;
        }
     }
     h2 {
     	margin-top: 4px;
     	margin-bottom: 52px;
     	font-family: 'Clearsans Thin';
     	font-size: 36px;
        line-height: 59px;
     	text-align: center;
     	text-transform: uppercase;
     	color: #dfb124;
        @include breakpoint(medium) {
            margin-bottom: 40px;
            font-size: 31px;
        }
        @include breakpoint(extra-medium) {
            margin-top: 18px;
            margin-bottom: 32px;
            font-size: 30px;
        }
        @include breakpoint(extra-small) {
            margin-top: 13px;
            margin-bottom: 56px;
            font-size: 39px;
        }
     }
     form {
        margin: 0 auto;
        input {
            @include breakpoint(extra-small) {
                width: 100%;
                margin-bottom: 43px;
            }
        }
        button {
            margin-top: 4px;
        }
     }
}