.speakers {
	padding-top: 18px;
	padding-bottom: 59px;
	background-image: url(../../../client/images/speakers/speakers-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include breakpoint(medium) {
        padding-bottom: 38px;
    }
    @include breakpoint(extra-medium) {
        padding-bottom: 16px;
    }
    @include breakpoint(extra-small) {
        padding-bottom: 42px;
    }
    h2 {
        margin-top: 31px;
    	font-family: 'Clearsans Thin';
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        @include breakpoint(medium) {
            margin-top: 31px;
        }
        @include breakpoint(extra-medium) {
            margin-top: 31px;
        }
        @include breakpoint(extra-small) {
            margin-top: 18px;
        }
    }
    .description {
    	width: 1155px;
    	margin: auto;
    	padding-top: 30px;
        @include breakpoint(medium) {
            width: 970px;
            padding-top: 7px;
        }
        @include breakpoint(extra-medium) {
            width: 770px;
            padding-top: 3px;
            font-size: 0;
        }
        @include breakpoint(extra-small) {
            width: 100%;
            padding-top: 44px;
        }
    }
}